* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  margin: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8309917717086834) 33%,
        rgba(107, 10, 10, 0.9206276260504201) 100%);
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;

  @media screen and (min-width: 480px) {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.search-form input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: 20%;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  background-color: rgb(248, 248, 248);
  padding: 8px 10px;
}

.search-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  border: none;
  background-color: rgb(200, 200, 200);
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-form button:hover,
.search-form button:focus {
  background-color: rgb(180, 180, 180);
  transition: all 0.3s;
}

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  padding-top: 60px;
  justify-content: center;
  gap: 20px;
}

.gallery__link {
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  border: 2px solid rgb(241, 238, 238);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
}

.gallery__link:hover,
.gallery__link:focus {
  transform: scale(1.05);
  outline: none;
}

.gallery-item {
  display: flex;
  flex-direction: column;
}

.gallery-item__img {
  display: block;
  height: 30vh;
  object-fit: cover;
}

.info {
  padding: 10px;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
}

.load-more-btn.is-hidden {
  display: none;
}

.load-more-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: 20%;
  display: block;
  margin: 25px auto 0 auto;
  padding: 8px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: rgb(200, 200, 200);
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.to-top-btn {
  position: fixed;
  bottom: 3vh;
  right: 1vw;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(200, 200, 200);
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  color: rgb(0, 0, 0);
  cursor: pointer;
  visibility: hidden;
}

.to-top-btn--visible {
  visibility: visible;
}

.load-more-btn:hover,
.to-top-btn:hover {
  background-color: #ffffff;
  transition: all 0.3s;
}